# Server port
PORT=3000

# MongoDB credentials
MONGODB_USER=your_mongo_user
MONGODB_PASSWORD=your_mongo_password
MONGODB_URL=your_mongo_cluster_url
MONGODB_DB=your_database_name

# Nodemailer credentials
SMTP_HOST=smtp.ukr.net
SMTP_PORT=587
SMTP_USER=user_exemple@ukr.net
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=exemple@exemple.com

JWT_SECRET=your_jwt_secret

CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
